body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  color: #ffc107;
  background-color: tan;
}
.dark-mode {
  color: white;
  background-color: #313843;
}

.dark-mode h1 {
  font-size: 2.5rem;
  margin: 10px auto;
  color: white;
}

.dark-mode .navbar {
  background-color:#1F2022;
}

.dark-mode .player-container {
  background-color: #6c7570;
}

.players {
  display: flex;
  flex-flow: row wrap;
}

.player-container {
  width: 25%;
  background-color: #17a2b8;
  border-radius: 1rem;
  margin: 1% auto;
  padding: 1%;
}

.display-container {
  display: flex;
  flex-flow: row wrap;
}

.toggle {
  border-radius: .25rem;
  width: 20%;
  height: auto;
  font-size: 1.5rem;
  margin: 1% auto;
  background-color: #007bff;
  color: white;
  border: none;
}
.toggled {
  border: none;
  border-radius: .25rem;
  width: 20%;
  height: auto;
  font-size: 1.5rem;
  margin: 1% auto;
  background-color: black;
  color: #6c7570;
}

nav {
  padding: 1%;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  background-color: #28a745;
}

nav h1 {
  font-size: 2.5rem;
  margin: 10px auto;
}